# Service ports exposed to host
AUTH_SERVICE_PORT=3001
BLOG_SERVICE_PORT=3002
STAKEHOLDER_SERVICE_PORT=3003
WEB_PORT=5173

# Database ports exposed to host
AUTH_DB_PORT=5433
BLOG_DB_PORT=5435
STAKEHOLDER_DB_PORT=5434

# Auth database
AUTH_DB_NAME=auth_db
AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=auth_pass

# Blog database
BLOG_DB_NAME=blog_db
BLOG_DB_USER=blog_user
BLOG_DB_PASSWORD=blog_pass

# Stakeholder database
STAKEHOLDER_DB_NAME=stakeholder_db
STAKEHOLDER_DB_USER=stakeholder_user
STAKEHOLDER_DB_PASSWORD=stakeholder_pass

# Frontend Vite build-time API endpoints
VITE_AUTH_SERVICE_URL=http://localhost:3001
VITE_BLOG_SERVICE_URL=http://localhost:3002
VITE_STAKEHOLDER_SERVICE_URL=http://localhost:3003
